<html>
  <head>
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/duck-icon.png">

    <title>Projects</title>
    <meta name="author" content="Darkwing Daphne">
    <meta charset="UTF-8">
  </head>

  <div class="wrapper">
    <header>
      <h1>PROJECTS & ADVENTURES</h1>
    </header>

    <section id="projects">
      <p>
        <a href="https://github.com/daphnegold/FarMar/tree/darg/master">Finding the Elusive Tired Honey</a>
      </p>
      <p>
        <a href="https://gist.github.com/daphnegold/b6bd5dd8647e457aa195">Investigative report: Where is Cookie Monster Now?</a>
      </p>
      <p>
        <a href="https://github.com/Ada-C4/Word-Guess/tree/darg_jmn/master">Monsieur le Mouse and the War of Many Cheeses </a>
      </p>
    </section>

  <marquee direction=down behavior=alternate height=500px width=450px><img src="http://25.media.tumblr.com/05bdbdc72871fe5eb73b75a982af7182/tumblr_mvphywSOM01qjomw7o1_400.gif"/></marquee>

    <footer>
      <nav class="bottom-nav">
        <a href="./index.html">HOME</a> |
        <a href="./about.html">About Me</a> |
        <a href="./blog.html">Adventure Log</a>
      </nav>
      <div class="social-media-links">
        <a href="https://www.facebook.com/daphne.gold"><img alt="follow me on facebook" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-48.png" border=0></a>
        <a href="https://twitter.com/darkwingdaphne"><img alt="follow me on twitter" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_tumblr-48.png" border=0></a>
        <a href="https://instagram.com/darkwingdaphne/"><img alt="follow me on instagram" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-48.png" border=0></a>
      </div>
    </footer>
  </div>
</html>
