/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */

.wrapper {
   max-width: 960px;
   margin: 0 auto;
 }

 #home-style {
   background-image: url("/milky-way.jpg");
   background-size: cover;
   border-radius: 0 200px 0;
   height: 90%;
 }

 #home-title {
   color: #fff;
   font-size: 38px;
   font-family: "Courier New", Courier, monospace;
   padding: 200px 100px;
   text-align: center;
 }

 nav a {
   padding: 30px;
   text-decoration: none;
 }

#home-nav {
   margin-top: -100px;
   background-color: white;
   height: 60px;
   font-family: Verdana, Geneva, sans-serif;
   text-align: center;
   font-size: 25px;
   line-height: 60px;
 }

.social-media-links {
   padding: 20px;
   text-align: center;
}

.top-nav {
  height: 40px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.top-nav, .page-title {
  text-align:center;
}

.page-title {
  padding-top: 40px;
}

h1, th {
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 20px;
  text-align: left;
}

p {
  padding: 20px;
}

p, td {
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}

 table {
   margin: 0 auto;
 }

 thead {
   font-size: 30px;
 }

 table img {
   width: 100%;
   padding: 5px;
 }

 #projects {
   display: inline-block;
   width: 50%;
   float: left;
 }

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: #747070;
  margin: 1em 0
}
